.header {
  padding: ($base-size * 5) 0;
  background: $color-dark;
  color: $color-light;
  position: fixed;
  width: 100%;
  z-index: 10;
  overflow: active;
  background-image: url(https://images.pexels.com/photos/263041/pexels-photo-263041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: left;
  box-shadow: 5px 5px 20px 5px black;
  background-size: cover;
  
  &__wrapper {
    position: relative;
  }

}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1.5);
    font-weight: $font-light;
    font-style: italic;
    background: #000;
  }

}
